<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CustardConnection"
         connectionString="Server=223.27.22.124;
         Database=j378234A3;
         Uid=andrew;
         Pwd=Mkph4#42;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>